*, *::after, *::before {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* margin: 0; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 6rem);
    grid-template-rows: 10rem 2rem 10rem; */
    /* gap: .5rem; */
    /* cursor: pointer; */
    justify-content: center;
    padding-top: 1rem;
}

.bay {
    height: 100%;
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .5rem;
    color: Gray;
    user-select: none;
    float: inline-start;
    margin-bottom: 2rem;
}


.row {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .5rem;
    color: Gray;
    user-select: none;
}

.stockPile {

    height: 100%;
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .5rem;
    color: Gray;
    user-select: none;

}

#firstRow {
    color: black;
}

#secondRow {
    color: black;
}

#thirdRow {
    color: black;
}

#fourthRow {
    color: black;
}

#fifthRow {
    color: black;
}

#sixthRow {
    color: black;
}

#seventhRow {
    color: black;
}

#stockPile {
    color: black;
}


.computer-deck {
    background-color: green;
}

.player-deck {
    background-color: blue;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black;
}


/* .card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1Rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
} */

.cardValue::after {
    
    content: attr(data-value);
    float: inline-start;
    
}

li {
    list-style-type: none;

}


/* Drag and Drop Classes */

.container {
   color: gray;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

.selected {
    background-color: yellow;
    border: 2px solid black;
}

.unselectable {
    user-select: none;
    cursor: not-allowed;
}